*{
    background-color:antiquewhite;
}

form{
    text-align: left;
    border: 1px solid black;
    width: 600px;
    height: 600px;
    float: left;
    background-image: linear-gradient(to right,rgba(255,0,0,0),rgb(177, 133, 53));
}

#name{
    margin-bottom: 20px;
    height: 10%;
    width: 40%;
    margin-left: 150px;
} 

#address{
    width: 40%;
    height: 30%;
    margin-bottom: 25px;
    margin-left: 130px;
    box-sizing: border-box;
    border-radius: 5px;

}

#pinc{
    margin-left:13px;
}

input:focus{
    background-color:bisque;
}
input[type=text]{

    font-style: italic;
    font-size: 10px;
    font-family: monospace;
}
label{

    margin-left: 10px;
    margin-top: 30px;
}

#location {
    width: 30%;
    margin-left: 90px;
}

#numbers{
    margin-left: 20px;
    width: 25%;
}

input{
    margin-top: 10px;
}

img{
    border: 3px dotted brown;
    width: 40%;
    height: 80%;
    float: right;
    background-color: brown;
    margin-top: 80px;
}
.dropbtn {
    background-color: brown;
    color: white;
    padding: 18px;
    font-size: 16px;
    border: none;
    margin-top: 10px;
    
  }
  
  .dropup {
    position: relative;
    display: inline-block;
    float: right;
    background-color:rgba(177, 133, 53,0.3);
  }
  
  .dropup-content {
    display: none;
    position: absolute;
    background-color:black;
    min-width: 160px;
    bottom: 50px;
  }
  
  .dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color:lightsalmon;
  }
  
  .dropup-content a:hover {
    background-color:burlywood;
  }
  
  .dropup:hover .dropup-content {
    display: block;
  }
  
  .dropup:hover .dropbtn {
    background-color: #2980B9;
  }

.button{

    padding: 10px;
    margin-top: 20px;
    float: left;
    display: block;

  }

  .button:hover{
      font-size: larger;
      background-color: azure;
      font-weight: bolder;
  }

  #change{
    background-image: linear-gradient(to right,rgba(255,0,0,0),rgb(177, 133, 53));
  }